---
import Button from "../components/Button.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import camp from "../assets/images/campsite.png";
import flod from "../assets/images/stromflod.webp";
import hero from "../assets/images/solnedgang.webp";
import fisk from "../assets/images/bøjetFisk.webp";
import casperstang from "../assets/images/casperFiskStang.webp";
import zoomFisk from "../assets/images/zoomFiskBlink.webp";
import casper from "../assets/images/casper.webp";
import isak from "../assets/images/isakHolderFisk.webp";
import rasmus from "../assets/images/rasmus.webp";
import SectionCTA from "../components/SectionCTA.astro";
import ScrollArrow from "../components/ScrollArrow.astro";
---

<BaseLayout>
  <!-- Hero -->
  <div class="hero-content-video">
    <Image src={hero} alt="" class="hero-video" />
    <div class="hero-content appear">
      <h1>Oplev det unikke Grønland</h1>
      <p class="titelLight heroTitel">
        Uovertruffent fluefiskeri og nærvær i naturen
      </p>
    </div>
  </div>
  <div class="emptyContainer"><ScrollArrow /></div>
  <!-- ------------------------------- -->
  <section class="om-section">
    <div class="max-width">
      <div class="intro-container">
        <h2 class="blue">Hvad står Arctic Flyfishing for?</h2>
        <p class="bodyDark">
          Arctic Flyfishing er ikke kun fluefiskeri; det er en rejse ind i
          eksklusive og unikke eventyr. Vi stræber efter at skabe enestående
          øjeblikke. Og hvordan gør vi det?
        </p>
      </div>
    </div>

    <div class="first-grid">
      <div class="grid-tekst hidden2">
        <h3 class="blue">Adgang til ubevandrede farvande</h3>
        <p class="bodyDark">
          Grønland byder på elve med klare vandløb og isfyldte floder, og
          naturen her tilbyder desuden et væld af oplevelser ud over fiskeri af
          fjeldørred. Med vores egne camps har vi fuld kontrol og frihed til at
          udforske ubevandrede flodsystemer, hvor fiskeriet er intensivt og
          naturen er tæt på uberørt.
        </p>
      </div>
      <Image
        src={flod}
        alt="En vandrer med en stor rygsæk står på et klippefyldt terræn ved siden af en hurtigtflydende blå flod, omgivet af kampesten og grønt græs.





        "
        class="billede-grid image-order hidden2"
      />
    </div>

    <div class="second-grid">
      <Image
        src={fisk}
        alt="billede1"
        class="slide billede-grid hidden-image hidden"
      />

      <Image src={camp} alt="billede1" class="slide billede-grid hidden" />
      <div class="slide grid-tekst order hidden">
        <h3 class="blue">Luksuriøse Faciliteter</h3>
        <p class="bodyDark">
          Nyd førsteklasses indkvartering i glampingtelte, hvor komfort og
          fællesskab er i højsædet og oplev en spændende gastronomisk cocktail,
          hvor den traditionelle grønlandske madkultur møder skandinaviens.
        </p>
      </div>
    </div>
    <div class="third-grid">
      <div class="grid-tekst hidden2 slide">
        <h3 class="blue">Kulturel Berigelse</h3>
        <p class="bodyDark">
          Vores guides er alle med grønlandsk oprindelse, og de sikrer, med
          deres dybdegående lokale kendskab til naturen, de mest optimale
          forhold for dit fiskeri.
        </p>
      </div>
      <Image
        src={casperstang}
        alt="billede1"
        class="billede-grid hidden2 slide"
      />
      <Image
        src={zoomFisk}
        alt="Person i en grå jakke står på klipper ved en flod og renser en fisk med en kniv. Bjergagtig baggrund og klart vand er synlige."
        class="billede-grid hidden-image hidden2 slide"
      />
    </div>
  </section>

  <!-- Om Raw Arctic -->
  <section class="max-width">
    <div class="RA-sekction">
      <h2 class="blue RA-h2 verticalAppear">Hvem er RawArctic?</h2>
      <div class="RA-content">
        <div class="RA-card verticalAppear">
          <div class="RA-billede-div">
            <Image src={casper} alt="billede1" class="RA-billede" />
          </div>
          <div class="RA-text">
            <h3 class="titelDark">Casper - Guide</h3>
            <p class="bodyDark">
              Mød Casper, vores erfarne fiskeri-guide fra Grønland med en unik
              forståelse for farvandene omkring Nuuk og Qussuk.
            </p>
          </div>
        </div>
        <div class="RA-card verticalAppear">
          <div class="RA-billede-div">
            <Image src={isak} alt="billede1" class="RA-billede" />
          </div>
          <div class="RA-text">
            <h3 class="titelDark">Isak - Guide</h3>
            <p class="bodyDark">
              Isak, en erfaren fiskeri-guide med en dyb forståelse for Grønlands
              farvande, vil ledsage dig på dit eventyr og dele sit lokale
              kendskab til naturen på Grønland.
            </p>
          </div>
        </div>
        <div class="RA-card verticalAppear">
          <div class="RA-billede-div">
            <Image src={rasmus} alt="billede1" class="RA-billede" />
          </div>
          <div class="RA-text">
            <h3 class="titelDark">Rasmus - Guide</h3>
            <p class="bodyDark">
              Træd ind i Rasmus' verden af fiskeri, hvor enkelhed og tålmodighed
              er nøgleordene for en vellykket dag på vandet. Som bosat på
              Grønland deler Rasmus sin lokale viden med glæde.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ----------- -->
  <SectionCTA />
</BaseLayout>

<script>
  /* Animation */
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      console.log(entry);
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });
  const hiddenElements = document.querySelectorAll(
    ".hidden , .hidden2, .verticalAppear"
  );
  hiddenElements.forEach((el) => observer.observe(el));
  /* -------------- */

  /*----------- Hero --------------*/
  import { gsap } from "gsap/dist/gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".hero-video", {
    duration: 1,
    scrollTrigger: {
      trigger: ".hero-video",
      start: "top top",
      end: "+=700",
      pin: true,
      // markers: true,
    },
  });
</script>

<style>
  /* Hero */
  .hero-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .heroTitel {
    padding-top: var(--RA-padding-mobil);
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    padding: 250px var(--RA-padding-mobil);
    z-index: 2;
  }

  .hero-content-video {
    position: relative;
    display: flex;
    height: 100vh;
  }

  .CTAer {
    display: flex;
    padding-top: var(--RA-size-48);
  }
  .emptyContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    transform: translateY(-15%);
  }

  /* Hele om-sectioen */
  .om-section {
    margin: 130px 0 130px 0;
    overflow: hidden;
  }
  .order {
    order: -1;
  }

  /* Om RawArctic section */

  .RA-h2 {
    padding-left: var(--RA-padding-mobil);
    position: relative;
    animation-name: smooth-appear;
    animation-duration: 1.5s;
  }

  .RA-billede {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .RA-billede-div {
    max-height: 400px;
    position: relative;
    animation-name: smooth-appear;
    animation-duration: 1.5s;
  }
  .RA-text {
    max-width: 400px;
    padding: var(--RA-padding-mobil);
  }
  .RA-card {
    display: flex;
    flex-direction: column;
  }
  .RA-content {
    display: grid;
  }

  .RA-content-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .RA-sekction {
    margin: 130px 0;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  /* ------------- */

  /* -------------------------- slide in fra siden --------------------------*/
  .intro-container {
    padding: var(--RA-padding-mobil);
    display: flex;
    flex-direction: column;
  }
  .first-grid,
  .second-grid,
  .third-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .billede-grid {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 600px;
    overflow: hidden;
  }

  .grid-tekst {
    display: flex;
    flex-direction: column;
    gap: var(--RA-size-8);
    padding: var(--RA-size-64) var(--RA-padding-mobil) var(--RA-padding-mobil)
      var(--RA-padding-mobil);
  }

  .hidden-image {
    display: none;
  }

  /* Tablet og Desktop */
  @media (min-width: 800px) {
    /* --------grid sektioen------- */
    .hidden-image {
      display: block;
    }
    .order {
      order: 1;
    }
    .first-grid {
      grid-template-columns: 1fr 2fr;
    }
    .second-grid,
    .third-grid {
      grid-template-columns: repeat(3, 33.3%);
      place-items: center;
      align-content: center;
    }
    .grid-tekst {
      padding: var(--RA-padding-desktop);
    }

    .intro-container {
      padding: var(--RA-padding-desktop);
    }
    /* --------------- */

    .hero-content {
      padding: 250px var(--RA-padding-desktop);
    }

    /* ----------------RA -------- */
    .RA-content {
      grid-template-columns: repeat(3, 1fr);
      gap: var(--RA-size-20);
      padding: var(--RA-padding-desktop);
    }

    .RA-h2 {
      padding-left: var(--RA-size-56);
      transition-delay: 5s;
    }

    /* --------------------------- */
  }
</style>
