---
import BaseLayout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import CampImage from "../assets/images/campsite.png";
import HTImage from "../assets/images/heroTuren.webp";
import OverskyetElv from "../assets/images/overskyetElv.webp";
import OverskyetLandskab from "../assets/images/overskyetLandskab.webp";
import Dinghy from "../assets/images/carroussel.png";
---

<!-- Mobile first version -->
<BaseLayout>
  <!-- <section class="container">
    <div class="slide IMG">
      <Image src={CampImage} alt="Fluefisker paa Grønland" class="IMG" />
    </div>
    <div class="slide IMG">
      <Image
        src={OverskyetLandskab}
        alt="Fluefisker paa Grønland"
        class="IMG"
      />
    </div>
    <div class="slide IMG">
      <Image src={Dinghy} alt="Fluefisker paa Grønland" class="IMG" />
    </div>

    <div class="line">
      <div class="text-wrapper">
        <h2>Dag 1</h2>
        <h2>Indlogering</h2>

        <p class="bodyDark p-scrollTrigger">
          Afgang fra Danmark og 4 timer senere ankomst i Grønland. Transport fra
          Nuuk til Camp Qussuk.
        </p>
      </div>
      <div class="text-wrapper">
        <h2>Dag 2-6</h2>
        <h2>Camp Qussuk</h2>
        <p class="bodyDark p-scrollTrigger">
          Fluefiskeri i uberørte floder og elve, efterfulgt af luksuriøs
          overnatning i førsteklasses glampingtelte og en professionel
          kulinarisk oplevelse hver dag.
        </p>
      </div>
      <div class="text-wrapper">
        <h2>Dag 7</h2>
        <h2>Hjemrejse</h2>
        <p class="bodyDark p-scrollTrigger">
          Transport fra Camp Qussuk til Nuuk. Afgang fra Grønland og 4 timer
          senere ankomst i CPH-Lufthavn.
        </p>
      </div>
    </div>
  </section>
  <div class="emptyContainerCQ"></div>

  <section class="testimonials"></section> -->
  <section class="containerMobile">
    <div class="card">
      <div class="text-wrapper">
        <h2>Dag 1</h2>
        <h2>Indlogering</h2>

        <p class="bodyDark p-scrollTrigger">
          Afgang fra Danmark og 4 timer senere ankomst i Grønland. Transport fra
          Nuuk til Camp Qussuk.
        </p>
      </div>
      <Image src={CampImage} alt="Fluefisker paa Grønland" class="IMG" />
    </div>
    <div class="card">
      <div class="text-wrapper">
        <h2>Dag 1</h2>
        <h2>Indlogering</h2>

        <p class="bodyDark p-scrollTrigger">
          Afgang fra Danmark og 4 timer senere ankomst i Grønland. Transport fra
          Nuuk til Camp Qussuk.
        </p>
      </div>
      <Image
        src={OverskyetLandskab}
        alt="Fluefisker paa Grønland"
        class="IMG"
      />
    </div>
    <div class="card">
      <div class="text-wrapper">
        <h2>Dag 1</h2>
        <h2>Indlogering</h2>

        <p class="bodyDark p-scrollTrigger">
          Afgang fra Danmark og 4 timer senere ankomst i Grønland. Transport fra
          Nuuk til Camp Qussuk.
        </p>
      </div>
      <Image
        src={OverskyetLandskab}
        alt="Fluefisker paa Grønland"
        class="IMG"
      />
    </div>
  </section>

  <section class="container">
    <div class="slide IMG">
      <Image src={CampImage} alt="Fluefisker paa Grønland" class="IMG" />
    </div>
    <div class="slide IMG">
      <Image
        src={OverskyetLandskab}
        alt="Fluefisker paa Grønland"
        class="IMG"
      />
    </div>
    <div class="slide IMG">
      <Image src={Dinghy} alt="Fluefisker paa Grønland" class="IMG" />
    </div>

    <div class="line">
      <div class="text-wrapper">
        <h2>Dag 1</h2>
        <h2>Indlogering</h2>

        <p class="bodyDark p-scrollTrigger">
          Afgang fra Danmark og 4 timer senere ankomst i Grønland. Transport fra
          Nuuk til Camp Qussuk.
        </p>
      </div>
      <div class="text-wrapper">
        <h2>Dag 2-6</h2>
        <h2>Camp Qussuk</h2>
        <p class="bodyDark p-scrollTrigger">
          Fluefiskeri i uberørte floder og elve, efterfulgt af luksuriøs
          overnatning i førsteklasses glampingtelte og en professionel
          kulinarisk oplevelse hver dag.
        </p>
      </div>
      <div class="text-wrapper">
        <h2>Dag 7</h2>
        <h2>Hjemrejse</h2>
        <p class="bodyDark p-scrollTrigger">
          Transport fra Camp Qussuk til Nuuk. Afgang fra Grønland og 4 timer
          senere ankomst i CPH-Lufthavn.
        </p>
      </div>
    </div>
  </section>
  <div class="emptyContainerCQ"></div>
</BaseLayout>

<style>
  .containerMobile {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #ffeee6;
  }

  .container,
  .emptyContainerCQ {
    display: none;
  }

  .card {
    width: 100vw;
    max-height: 100vh;
    margin-left: 0;
  }

  .IMG {
    max-width: 100vw;
    height: 100%;
    overflow: hidden;
  }

  .text-wrapper {
    width: 90vw;
    padding-left: 10px;
  }

  .p-scrollTrigger {
    max-width: 64ch;
  }

  .emptyContainerCQ {
    height: 4325px;
  }

  /* Styles for desktop view */
  @media (min-width: 769px) {
    /* ------------------------- Desktop ------------------------- */
    .containerMobile {
      display: none;
    }
    .container {
      display: block;
      position: absolute;
      width: 100%;
      height: 100vh;
      visibility: hidden;
      background-color: #ffeee6;
    }

    .slide {
      position: absolute;
      top: 50%;
      width: 50vw;
      max-height: 100vh;
      margin-left: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .IMG {
      max-width: 100vw;
      aspect-ratio: 9/16;
      height: 100%;
      overflow: hidden;
    }

    .line {
      position: absolute;
      top: 30vh;
      left: 0;
      width: 40vw;
      height: 50px;
    }

    .text-wrapper {
      position: absolute;
      top: 0px;
      left: 20px;
      width: 100%;
      opacity: 0;
      padding-left: var(--RA-size-88);
    }

    .p-scrollTrigger {
      max-width: 64ch;
    }

    .emptyContainerCQ {
      display: block;
      height: 4325px;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".hero-image", {
    duration: 1,
    scrollTrigger: {
      trigger: ".hero-image",
      start: "top top",
      end: "+=750",
      pin: true,
      // markers: true,
    },
  });

  var allSlides = gsap.utils.toArray(".slide"); // Samler alle elementer med klassen ".slide" i et array.
  gsap.set(allSlides, { yPercent: 50 }); //   Indstiller startpositionen for alle slides til 50% y-akse

  var allTextWrappers = gsap.utils.toArray(".line .text-wrapper"); //   Samler alle ".text-wrapper"-elementer indenfor ".line"-elementer i en array.
  gsap.set(allTextWrappers, { yPercent: 0 }); //   Indstiller startpositionen for alle tekstwrappere til 100% y-akse (udenfor viewporten).

  gsap.set(".container", { autoAlpha: 1 }); //   Sætter ".container" til fuld synlighed (1) efter initialisering.

  var dur = 1, //Varighed af en enkelt animation er 1 sek.
    next = 1.5, //Tid mellem animationerne er 1.5 sek.
    fade = 0.3, //Varighed af fade-effekter er 0.3 sek.
    tt = 3500; // Total længde af scroll-animationen i px.

  //Opretter en GSAP-timeline til at koordinere flere animationer.
  var action = gsap
    .timeline({
      defaults: {
        // default variabler indstiller standardværdier for animationerne.
        ease: "none", //Ingen easing på animationerne.
        stagger: next, //Tidsforsinkelse mellem animationerne er next(1,5 sek).
      },
      paused: true, // Timeline er paused fra starten, så animationerne ikke kører automatisk
    })
    .to(allSlides, { yPercent: -50, duration: dur }) // Animerer og flytter slides op med -60% på y-aksen over varigheden dur(1 sek).
    .to(
      allTextWrappers,
      { yPercent: 0, opacity: 1, duration: fade * 2 }, //Animerer og flytter tekstwrappere til 0% på y-akse og gør dem synlige over varigheden fade * 2 (0,6 sek).
      dur - fade //Starter animationen dur (1 sek) - fade (0,3 sek) sekunder efter den forrige animation.
    )
    .to(
      allTextWrappers,
      { yPercent: -200, opacity: 0, duration: fade }, // Animerer ud og flytter tekstwrappere til -200% på y-akse og gør dem usynlige over varigheden fade(0,3 sek).
      dur * 2 //Starter animationen dur * 2 sekunder efter den forrige animation.
    );

  // Animation som starter når det første staggered item er synligt og går igennem indtil det sidste item er fuldt synligt.
  const slider = gsap.fromTo(
    action,
    { time: dur },
    { time: action.duration() - dur, paused: true }
  );

  ScrollTrigger.create({
    animation: slider, //binder slider animationen ovenover til scrolltrigger.
    trigger: ".container", //Elementet der trigger animationen.
    start: "top top", // Starter når toppen af .container elementet møder toppen af viewport.
    end: "=+" + tt, // Slutter 4000px efter start
    pin: true, //Pinner .container i viewport under animation
    scrub: 0.3, // Synkroniserer animationen med scrolling (0,3 sek forsinkelse)
    // markers: true,
  });
  // ----------------------------------------------------------------------------------------------------------------------
</script>
