---
const { label, placeholder, type, autocomplete, inputId, style } = Astro.props;
---

<div class="inputField">
  <label for={inputId} class="inputLabel" style-variant={style}> {label}</label>
  <input
    type={type}
    autocomplete={autocomplete}
    placeholder={placeholder}
    id={inputId}
    name="userInfo"
    class="inputClass"
  />
</div>

<style>
  [style-variant="light"] {
    color: var(--RA-blue25);
  }

  [style-variant="dark"] {
    color: var(--RA-blue400);
  }
  .inputField {
    display: flex;
    flex-direction: column;
    gap: var(--RA-size-4)
  }
  .inputClass {
    padding: 12px;
    border: none;
    border-radius: 10px;
  }

  .inputLabel {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
</style>
